################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment4WebApp/.vs
/Assignment4WebApp/Assignment4WebApp/bin/Debug/netcoreapp2.1
/Assignment4WebApp/Assignment4WebApp/obj
